# Miscellaneous
flutter_dict/*.class
flutter_dict/*.log
flutter_dict/*.pyc
flutter_dict/*.swp
flutter_dict/.DS_Store
flutter_dict/.atom/
flutter_dict/.buildlog/
flutter_dict/.history
flutter_dict/.svn/
migrate_working_dir/

# IntelliJ related
flutter_dict/*.iml
flutter_dict/*.ipr
flutter_dict/*.iws
flutter_dict/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
flutter_dict/**/doc/api/
flutter_dict/**/ios/Flutter/.last_build_id
flutter_dict/.dart_tool/
flutter_dict/.flutter-plugins
flutter_dict/.flutter-plugins-dependencies
flutter_dict/.packages
flutter_dict/.pub-cache/
flutter_dict/.pub/
flutter_dict/build/


# Symbolication related
flutter_dict/app.*.symbols
flutter_dict/# Obfuscation related
flutter_dict/app.*.map.json

# Android Studio will place build artifacts here
flutter_dict/android/app/debug
flutter_dict/android/app/profile
flutter_dict/android/app/release
